.rocket {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10000;
}

.rocket .loader {
    width: 100px;
    /*250px */
    height: 100px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    border: 6px solid #fff;
    overflow: hidden;
}

.rocket .loader i {
    background: linear-gradient(0deg, #00bbf9, #f72585, #ffff3f);
    inset: -40px;
    position: absolute;
    animation: bg 1.5s linear infinite;
    z-index: 2;
}

.rocket .loader .shadow1 {
    position: absolute;
    inset: 0;
    z-index: 2;
    border-radius: 50%;
    box-shadow: inset 2px 2px 4px #000 3b, inset -1px -1px 8px #000 3b;
}

.rocket .loader::before {
    content: "";
    position: absolute;
    inset: 10;
    border-radius: 50%;
    z-index: 2;
}

.rocket .loader::after {
    content: "";
    position: absolute;
    background: linear-gradient(0deg, #fff 30%, #70d6ff);
    inset: 10px;
    border-radius: 50%;
    z-index: 3;
    border: 5px solid #fff;
}

.rocket .icons {
    inset: 4px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 4;
}

.rocket .icons i.fa-rocket {
    font-size: 2em;
    -webkit-text-stroke: 1px #000;
    color: #ff0081 fa;
    animation: rocket 1s linear infinite;
    position: absolute;
}

.rocket .icons .clouds {
    position: absolute;
    left: -70px;
}

.rocket .icons .clouds i.fa-cloud {
    -webkit-text-stroke: 1px #000;
    font-size: calc(0.8em * var(--i));
    position: absolute;
    color: #fff;
    left: calc(65px * var(--i));
    top: calc(35px * var(--i));
    animation: cloud 1s linear infinite;
    animation-delay: calc(-0.5s * var(--i));
}

@keyframes bg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rocket {
    0%,
    100% {
        transform: translate(0, 0) rotate(-45deg);
    }
    50% {
        transform: translate(0px, -4px) rotate(-45deg);
    }
}

@keyframes cloud {
    from {
        top: calc(-50px * var(--i));
    }
    to {
        top: calc(50px * var(--i));
    }
}